@use "sass:math";

:root {
  --y-header: 0;
  --padding-xxl: #{math.div(240px, 16px) * 1rem};
  --padding-xl: #{math.div(120px, 16px) * 1rem};
  --padding-l: #{math.div(60px, 16px) * 1rem};
  --padding-m: #{math.div(44px, 16px) * 1rem};
  --padding-s: #{math.div(32px, 16px) * 1rem};
  --padding-xs: #{math.div(16px, 16px) * 1rem};
  --padding-xxs: #{math.div(8px, 16px) * 1rem};
}

@media (max-width: $smartphone) {
  :root {}
}
