<Footer id="Footer" class="palette-primary">
    <div>
        <b>{{renderData.title}}</b>
    </div>
    <button id="scroll-top" class="scroll-top">{{ texts["es"]["back_to_top_" + renderData.language] }} ↑</button>
</Footer>