#Footer {
    --font-size: var(--font-size-m);
    padding: var(--padding-s);
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

#Footer {
    @include font-serif-light();
    font-size: var(--font-size);

    b {
        @include font-serif-bold();
    }
}
