#Footer {
    --font-size: var(--font-size-base);

    @include font-serif-light();
    
    background-color: var(--primary-color);
    bottom: 0;
    color: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size);
    left: 0;
    padding: var(--padding-xs) var(--padding-s);
    position: fixed;
    width: 100%;
    
    @media (max-width: $smartphone) {
        align-items: flex-end;
        padding: var(--padding-xs);
    }

    div {
        align-items: center;
        display: flex; 
    }

    b {
        @include font-serif-bold();
    }
}
