{% import "../svg/map.njk" as map with context %}

{% macro block(data) %}
    <section class="widget-abc palette-secondary" scroll-item data-class="widget-abc">
        <header>
            <span class="deco" data-scroll-insider data-speed="-.2"><span>4,6%</span></span>
            <h2 class="__title">{{ data.title | safe }}</h2>
        </header>
        <div class="widget-abc__map" data-scroll-sticky>
            {{ map.block() }}
        </div>
        <ul class="widget-abc__indice">
            {% for item in townsABC %}
                <li>
                    <h3>{{ item.letter }}</h3>
                    <ul>
                        {% for town in item.towns %}
                            <li>
                                <a href="#{{ town.name|slugify }}" data-anchor>{{ town.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endmacro %}
